<!DOCTYPE html>
<html>
<head>
	<title>Library</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pagination.css') }}">
</head>
<body>

	<p>Hello {{g.user['name']}}</p>	
	<p> Your member ID is {{g.user['member_id']}}</p>
	<script type="text/javascript"> 
		var member_id = {{g.user['member_id']}}
	</script>

	<table style="width: 40%; margin-left: 2%;" id="data-table"  class="table table-striped">
		<thead  class="thead-light">
    		<tr>
				<th scope="col"> Name</th>
				<th scope="col"> Author</th>
				<th scope="col"> ISBN</th>
			</tr>
  		</thead>
  	</table>
  	<div class="pagination" id='pagination'>
	  
	</div>
	<p id="message"></p>

  <script type = "text/javascript" 
			src = "{{ url_for('static', filename = 'js/books.js') }}" >		
	</script>

	<p><a href="/">Click here</a> to see books you borrowed.</p>
	
</body>
</html>